/*table style????
add top border for first of year?*/

:root {
    --thin-border: 1px solid black;
    --thick-border: 2px solid black;
    --thin-padding: 1px;
    --thick-padding: 4px;
}

table { 
    border-collapse: collapse;
    border-style: hidden;
}

table th { 
    border-right: var(--thick-border); 
    padding-left: var(--thin-padding);
    padding-right: var(--thin-padding);
}

table td { 
    border-top: var(--thin-border); 
    border-bottom: var(--thin-border); 
    border-right: var(--thick-border); 
    padding-left: var(--thick-padding);
    padding-right: var(--thick-padding);
}

/* thicker border between years */
table tbody {
    border-top: var(--thick-border);
}

/* center language and rewatch marker */
td[headers~="language" i],
td[headers~="rewatch" i] {
    text-align: center;
}



/* monospace date */
td[headers~="date" i] {
    font-family: monospace;
}